#!/bin/sh
echo "hello $common_name" >> /tmp/hello.log

# Check client variables
if [ -z "$ifconfig_pool_remote_ip" ] || [ -z "$common_name" ]; then
        echo "Missing environment variable."
        exit 1
fi

# Create proxy rule
/sbin/ip -6 neigh add proxy $(cat /etc/openvpn/addrs/$common_name) dev eth0
